/bin/
/.metadata/
/.idea/
/.vs/
*.tree
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
